
.App {
  text-align: center;
}

//****************** CONTAINER ************************

.App-header {
  background-color: #282c34;
  background-image: url(./images/star_wars_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;

  @media (max-width: 1000px) { 
        flex-direction: column; 
  }
} 



//***************** STAR WARS PAGE TITLE *************************
.title {
  top: 40vh;
  order:2;
  left:50vw;
  position:fixed;


  h2 {
  color:white;


    &:hover {
      color:greenyellow;
    }
  }


  a {
    text-decoration: none;
  }



   h1 {
    color: rgb(255, 255, 0);
    font-style: italic;

  
  // ************* FADE-IN-ANIMATION PAGE TITLE **************

  @media (prefers-reduced-motion: no-preference) {
        
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
          -moz-animation: fadein 2s; /* Firefox < 16 */
            -ms-animation: fadein 2s; /* Internet Explorer */
            -o-animation: fadein 2s; /* Opera < 12.1 */
                animation: fadein 2s;


      @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
      }

      /* Firefox < 16 */
      @-moz-keyframes fadein {
          from { opacity: 0; }
          to   { opacity: 1; }
      }

      /* Safari, Chrome and Opera > 12.1 */
      @-webkit-keyframes fadein {
          from { opacity: 0; }
          to   { opacity: 1; }
      }

      /* Internet Explorer */
      @-ms-keyframes fadein {
          from { opacity: 0; }
          to   { opacity: 1; }
      }

      /* Opera < 12.1 */
      @-o-keyframes fadein {
          from { opacity: 0; }
          to   { opacity: 1; }

      }
    }   
  }

  @media (max-width: 1000px) {
      position:fixed;
      background-color: #202020;
      opacity: 0.95;
      top:0px;
      left: auto;
      width: 100vw;
      z-index: 10;
      order: 1;
  }
}




// ****************** MATERIAL UI TIMELINE **********************
.timeline-container {
  left:0px;
  width:50vw;
  position: relative;
  justify-self: flex-start;


  h1 {
    color:yellow;
  }


  h3 {
    color:lightgreen;
  }

// *************** TIMELINE SCROLLING ANIMATION *********************
  @media (prefers-reduced-motion: no-preference) {
  animation-name: move;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  -webkit-animation-name: move;
  animation-timing-function: linear;
  -webkit-animation-duration: 50s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  
    
    @keyframes move{
      0% {
    		top: 200px;
    	}
    	100% {
    		top: -1800px;
    	}

    }

    @-webkit-keyframes move {
    	0% {
    		top: 200px;
    	}
    	100% {
    		top: -1800px;
    	}
    }
  }
   
      &:hover {
        animation-play-state:paused ;
        -webkit-animation-play-state: paused;
      
      }

  @media (max-width: 1000px) {
    order: 2;
    width: 100vw;
    top: 200px;

  }   
  
}